.container{
background-color:#cccccc;
border: 2px solid red;
text-align:center;
height:150px;
width:200px;
margin:auto;
margin-top:70px;
}
#myid{
color:white;
background-color:black;
height:20px;
width:200px;
}
input[type="text"], input[type="password"]{
margin-top:15px;
border: 2px solid black;
outline:none;
background:transparent;
border-bottom:1px solide yellow;
color:black;
}
#btn{
padding:6px 9px;
margin-top:6px;
text-align:center;
border:none;
border-radius:15px;
background-color:#04AA6D;
cursor:pointer;
color:#fff;
box-shadow:solid 5px #999;
}
#btn:hover{
background-color:#3e8e41;
box-shadow:0 5px #666;
color:#fff;
}
::placeholder{
text-align:center;
}